.add{
    width: 50%;
  border: 5px solid brown;
  padding: 50px;
  margin: 10px;
  height:300px;
}
.product{
    width: 50%;
  border: 5px solid brown;
  padding: 50px;
  margin: 10px;
  height:300px;
}